<div class="mainContainer">
    <div class="footerContainer">
        <div class="footerContent">

            <div class="nameContainer">
                <span class="green">T</span>h<span class="purple">o</span>mas
            </div>


            <span class="copywrite">&#169; Thomas Haberkorn</span>
            <div class="links">
                <img src="assets/images/github-button.png" alt="" (click)="openGithub()">
                <img src="assets/images/mail-button.png" alt="" (click)="openMail()">
                <img src="assets/images/linkedin-button.png" alt="" (click)="openLinkedIn()">
            </div>

        </div>
        <div class="imprintContainer">
            <a [routerLink]="['/imprint']" class="imprint">{{ "imprint" | translate }}</a>
        </div>
    </div>
</div>