<div class="mainContainer" id="aboutMe">
    <div class="aboutMeContainer">
        <div class="aboutMeTextContent">
            <h1 class="headline hidden">{{ 'aboutMe' | translate }}</h1>
            <p> {{ "aboutMeMainPart" | translate }} </p>
            <div class="personalThings">
                <img src="assets/images/idea.png" alt="">
                <p> {{ "aboutMeSecondPart" | translate }} </p>
            </div>
            <div class="personalThings">
                <img src="assets/images/puzzle.png" alt="">
                <p> {{ "aboutMeThirdPart" | translate }} </p>
            </div>
        </div>
        <div class="aboutMeImageContent">
            <img src="assets/images/profileImage1.png" alt="" class="profileImage">
            <div class="rightLine"></div>
        </div>
    </div>
    <img src="assets/images/blur1.png" alt="" class="profileBlur">
</div>