<div class="mainContainer">
    <div class="privacyContent">

        <h1> {{ "policyHeader" | translate }} </h1>
        <p> {{ "privacyResponsible" | translate }} </p>
        <span>Thomas Haberkorn</span><br>
        <span>Obermichelbacher Str. 7a</span><br>
        <span>90587 Veitsbronn</span><br>
        <a href="mailto:kontakt@haberkorn-thomas.de">kontakt&#64;haberkorn-thomas.de</a>
        <h2> {{ "title" | translate }} </h2>
        <p> {{ "description" | translate }} </p>
        <ul>
            <li>{{ "right1" | translate }}</li>
            <li>{{ "right2" | translate }}</li>
            <li>{{ "right3" | translate }}</li>
            <li>{{ "right4" | translate }}</li>
            <li>{{ "right5" | translate }}</li>
            <li>{{ "right6" | translate }}</li>
        </ul>
        <p>{{ "consentRevocation" | translate }}</p>
        <p>{{ "complaint" | translate }}</p>
        <p>{{ "authorityList" | translate }} <a
                href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank"
                rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.
        </p>
        <p></p>
        <h2>{{ 'Kontaktformular.title' | translate }}</h2>
        <h3>{{ 'Kontaktformular.processingPurpose.title' | translate }}</h3>
        <p>{{ 'Kontaktformular.processingPurpose.description' | translate }}</p>
        <h3>{{ 'Kontaktformular.legalBasis.title' | translate }}</h3>
        <p>{{ 'Kontaktformular.legalBasis.description' | translate }}</p>
        <h3>{{ 'Kontaktformular.recipient.title' | translate }}</h3>
        <p>{{ 'Kontaktformular.recipient.description' | translate }}</p>
        <h3>{{ 'Kontaktformular.storageDuration.title' | translate }}</h3>
        <p>{{ 'Kontaktformular.storageDuration.description' | translate }}</p>
        <h3>{{ 'Kontaktformular.provisionRequired.title' | translate }}</h3>
        <p>{{ 'Kontaktformular.provisionRequired.description' | translate }}</p>
        <p></p>
        <h2>{{ 'SSLVerschlüsselung.title' | translate }}</h2>
        <p>{{ 'SSLVerschlüsselung.description' | translate }}</p>

        <hr>

        <h2>{{ 'Widerspruchsrecht.title' | translate }}</h2>
        <h3>{{ 'Widerspruchsrecht.individualRight.title' | translate }}</h3>
        <p>{{ 'Widerspruchsrecht.individualRight.description' | translate }}</p>
        <h3>{{ 'Widerspruchsrecht.recipient.title' | translate }}</h3>
        <p>Thomas Haberkorn</p>

        <hr>

        <h2>{{ 'Datenschutzänderung.title' | translate }}</h2>
        <p>{{ 'Datenschutzänderung.description' | translate }}</p>
        <p></p>
        <p><em> {{ 'Datenschutzänderung.link' | translate }} <a
                    href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank"
                    rel="noopener">{{ "Datenschutzänderung.linkDesc" | translate }}</a> (Version #2020-09-30).</em></p>


    </div>
</div>