<div class="mainContainer" id="imprint">
    <div class="imprintContent">
        <h1> {{ "imprint" | translate }} </h1>
        <p>Thomas Haberkorn<br />
            Obermichelbacher Str. 7a<br />90587 Veitsbronn</p>
        <p>Telefon: 0911/76617657<br />
            E-Mail: <a href="mailto:haberkorn.th@t-online.de">haberkorn.th&#64;t-online.de</a><br />
        </p>
        <br /><br />
        <h2>{{ 'Impressum.title' | translate }}</h2>
        <h3>{{ 'Impressum.contentWarning.title' | translate }}</h3>
        <p>{{ 'Impressum.contentWarning.description' | translate }}</p>
        <h3>{{ 'Impressum.externalLinks.title' | translate }}</h3>
        <p>{{ 'Impressum.externalLinks.description' | translate }}</p>

        <h3>{{ 'Impressum.copyright.title' | translate }}</h3>
        <p>{{ 'Impressum.copyright.description' | translate }}</p>
        <h3>{{ 'Impressum.specialConditions.title' | translate }}</h3>
        <p>{{ 'Impressum.specialConditions.description' | translate }}</p>
        <p>{{ 'Impressum.source.text' | translate }}: <a href="https://www.fachanwalt.de/impressum-generator/"
                target="_blank">{{ 'Impressum.source.link' | translate }}</a></p>
    </div>
</div>