<div class="mainContainer">
    <div class="content">
        <div class="myImg d-flex">
            <img src="assets/images/doubleBlur.png" alt="">
            <img src="assets/images/profileImage.png" alt="Thomas Haberkorn">
        </div>
        <div class="myTextContainer d-flex">
            <div class="iAm">I am</div>
            <div class="myText">
                <span class="myName">Thomas Haberkorn</span>
                <h2>FRONTEND DEVELOPER</h2>

                <button class="lets-talk-button"> Lass uns reden! </button>
            </div>
        </div>

    </div>
    <img class="vector" src="assets/images/vector2.png" alt="">
</div>