
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landingContactSection {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5vw;
    margin-top: -0vw;
    
    .leftLine {
        position: relative;
        z-index: 5;
        margin-left: -5.5vw;
        margin-right: 1vw;
        width: 5vw;
        height: 0.4vh;
        background-color: #9747FF;
    }

    img {
        position: relative;
        z-index: 5;
        margin-right: 1vw;
        transition: transform 0.5s ease-in-out;
        width: 2.5vw;
        height: auto;
        cursor: pointer;
        &:hover {
            animation: rotateIn 0.5s ease-in-out;
            transform: rotate(360deg);
        }

        &:mouseleave {
            animation: rotateOut 0.5s ease-in-out;
            transform: rotate(0deg);
        }
    }
    
    a {
        position: relative;
        z-index: 5;
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
        font-weight: 200;
        margin-left: 1vw;
        cursor: pointer;
        
        &:hover {
            color: #70E61C;
        }
    }
}

@keyframes rotateIn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.mainContainer {
    width: 98.5vw;
    // height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    margin-top: 15vh;
    
    .myImg {
        width: 30%;
        z-index: 1;
    }
    
    img:nth-of-type(1) {
        top: -10vw;
        width: 150%;
        height: auto;
        position: relative;
        margin-bottom: -9vw;
    }
    
    img:nth-of-type(2) {
        width: 27vw;
        height: auto;
        position: absolute;
    }
}

.myTextContainer {
    z-index: 3;
    
    .iAm {
        transform: rotate(-90deg);
        font-size: 5.4vw;
        width: 13vw;
        margin-right: -3vw;
    }
    
    .myName {
        font-size: 4.5vw;
        line-height: 5vw;
        font-weight: 700;
    }
    
    h2 {
        font-size: 4.2vw;
        line-height: 3vw;
        font-weight: 400;
        color: #9747FF;
        margin: 0;
    }
}

.vector {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 92vw;
    left: 0;
    z-index: 1;
    margin-top: -56vw;
}

.scrollDown {
    position: absolute;
    width: 2vw;
    height: auto;
    top: 45vw;
    right: 5%;
    transform: translateX(-50%);
    
    color: #70E61C;
    z-index: 7;
    animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); // Bild bewegt sich um 15px nach oben
    }
    100% {
        transform: translateY(0); // Bild kehrt in die ursprüngliche Position zurück
    }
}

.lets-talk-button {
    background-color: #70E61C;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.9vw;
    margin-top: 1vw;
    margin-left: 30%;
    z-index: 3;
    border-style: none;
    cursor: pointer;
    &:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }
}
