
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    .innerContent {
        max-width: 1920px;
        .scrollDown {
            position: relative;
            width: 30px;
            height: auto;
            top: -100px;
            right: -96%;
            color: #70E61C;
            z-index: 7;
            animation: moveUpDown 2s infinite;
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 180px;
            overflow: visible;
            .myImg {
                width: 38%;
                z-index: 1;
                img:nth-of-type(1) {
                    width: 600px;
                    height: auto;
                    position: relative;
                }
                
                img:nth-of-type(2) {
                    width: 360px;
                height: auto;
                position: absolute;
                }
            }
            
            
        }
    }
}


.landingSocialContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    margin-top: -200px;
    .leftLine {
        
        height: 3px;
        background-color: #9747ff;
        flex-grow: 1;
        border-radius: 4px;
        min-width: 100px;
        margin-right: 16px;
    }
    .rightLine {
        flex-grow: 1;
    }
    .landingContactSection {
        display: flex;
        align-items: center;
        margin-top: 0px;
        width: 100%;
        max-width: 1400px;
        
            img {
                position: relative;
                z-index: 5;
                margin-right: 16px;
                transition: transform 0.5s ease-in-out;
                width: 30px;
                height: auto;
                cursor: pointer;
                &:hover {
                    animation: rotateIn 0.5s ease-in-out;
                    transform: rotate(360deg);
                }
        
                &:mouseleave {
                    animation: rotateOut 0.5s ease-in-out;
                    transform: rotate(0deg);
                }
    
            }
            span {
                position: relative;
                z-index: 5;
                text-decoration: none;
                color: white;
                font-size: 28px;
                font-weight: 200;
                margin-left: 10px;
                &:hover {
                    color: #70E61C;
                }
            }
          }    
        
    }


@keyframes rotateIn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





.myTextContainer {
    z-index: 3;
    
    p {
        transform: rotate(-90deg);
        font-size: 52px;
        width: 124px;
        margin-right: -35px;
        margin-top: -98px;
    }
    .iAmDE {
        transform: rotate(-90deg);
        font-size: 34px;
        width: 122px;
        margin-right: -39px;
        margin-top: -98px;
    } 
    .myText {   
        .myName {
            font-size: 80px;
            line-height: 70px;
            font-weight: 700;
            margin: 0;
        }
        
        h2 {
            font-size: 58px;
            line-height: 48px;
            font-weight: 400;
            color: #9747FF;
            margin: 0;
        }
    }

}

  .lets-talk-button {
                background-color: #70E61C;
                color: whitesmoke;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 28px;
                margin-top: 40px;
                margin-left: 30%;
                z-index: 3;
                border-style: none;
                cursor: pointer;
                &:hover {
                    transition: 0.5s;
                    transform: scale(1.1);
                }
            }

.vectorContainer {
    width: 100vw;
    height: 30vw;
    position: absolute;
    top: 155px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    img {
        width: 107vw;
        height: 80%;
    }
    
}



@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); 
    }
    100% {
        transform: translateY(0); 
    }
}


@media screen and (max-width: 6000px) {
    .vectorContainer{
        top: 155px !important;
    }
    .landingContactSection {
        margin-top: -210px;
    }
}

@media screen and (max-width: 5500px) {
    .vectorContainer{
        top: 195px !important;
    }
}

@media screen and (max-width: 5000px) {
    .vectorContainer{
        top: 230px !important;
    }
    .landingContactSection {
        margin-top: -210px;
    }
    .scrollDown {
        top: -140px !important;
    }
}

@media screen and (max-width: 4500px) {
    .vectorContainer{
        top: 270px !important;
    }
}


@media screen and (max-width: 4000px) {
    .vectorContainer{
        top: 310px !important;
    }
    .landingContactSection {
        margin-top: -210px;
    }
}

@media screen and (max-width: 3500px) {
    .vectorContainer{
        top: 355px !important;
    }
}

@media screen and (max-width: 3000px) {
    .vectorContainer{
        top: 400px !important;
    }
}

@media screen and (max-width: 2500px) {
    .vectorContainer{
        top: 440px !important;
    }
}

@media screen and (max-width: 2200px) {
    .vectorContainer{
        top: 470px !important;
    }
    .landingContactSection {
        margin-top: -210px;
    }
}


@media (max-width: 1920px) {
    .content {
        padding-top: 140px;
        margin-top: 3vw;
    }
    .vectorContainer{
        top: 530px !important;
    }
}

@media screen and (max-width: 1900px) {
    .vectorContainer{
        top: 540px !important;
    }
}

@media screen and (max-width: 1700px) {
    .vectorContainer{
        top: 540px !important;
    }
  
   }

@media screen and (max-width: 1600px) {
    .vectorContainer{
        top: 540px !important;
    }
    .myTextContainer {
        p {
            font-size: 46px;
            width: 120px;
        };
        .iAmDE {
            font-size: 31px;
        }
        .myText {
            .myName {
                font-size: 70px;
                line-height: 66px;
            }
            h2 {
                font-size: 48px;
                line-height: 44px;
            }
            .lets-talk-button{
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .vectorContainer{
        top: 530px !important;
    }
    .content {
        padding-top: 110px;
    }
    
}

@media screen and (max-width: 1400px) {
    .vectorContainer{
        top: 520px !important;
    }
    .landingContactSection {
        .leftLine {
            margin-left: -600px;
        
        }
    }
}

@media screen and (max-width: 1300px) {
    .vectorContainer{
        top: 540px !important;
    }
    .myTextContainer {
        p {
            font-size: 37px;
            width: 110px;
        };
        .iAmDE {
            font-size: 25px;
            width: 111px;
        }
        .myText {
            .myName {
                font-size: 55px;
                line-height: 55px;
            }
            h2 {
                font-size: 40px;
                line-height: 36px;
            }
            .lets-talk-button{
                margin-top: 25px;
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .landingContactSection {
        span {
            font-size: 24px !important;
        }
    }
    .myTextContainer {
        p {
            font-size: 36px;
            width: 107px;
        };
        .iAmDE {
            margin-right: -45px;
            font-size: 24px;
            width: 124px;
        }
        .myText {
            .myName {
                font-size: 50px;
                line-height: 50px;
            }
            h2 {
                font-size: 36px;
                line-height: 32px;
            }
            .lets-talk-button{
                margin-top: 16px !important;
                font-size: 21px !important;
            }
        }
    }
 
    .vectorContainer{
        top: 560px !important;
    }
}

@media screen and (max-width: 1100px) {

    .vectorContainer{
    top: 560px !important;
    }
    .landingContactSection {
        margin-top: -40px;
    }
    .content{
        padding-top: 110px;
    }
}

@media screen and (max-width: 1000px) {
    .vectorContainer{
        top: 530px !important;
    }
    .content {
        flex-direction: column;
    }
    .myTextContainer {
        margin-top: 140px;
        margin-left: -6vw;
        margin-bottom: 5vw;
        
            p {
                font-size: 35px;
                width: 117px;
            }
            .iAmDE {
                font-size: 23px;
                width: 118px;
            }
            .myText {
                
                .myName {
                    font-size: 50px;
                }
                h2 {
                    margin-top: 0px;
                    font-size: 38px;
                }
                .lets-talk-button {
                    width: 240px;
                    font-size: 24px;
                    margin-left: 70px;
                    margin-top: 10px;
                }
            }
        
    }
    .myImg {
        img:nth-of-type(1) {
            width: 500px !important;
            margin-bottom: -150px !important;
        }
        img:nth-of-type(2) {
            width: 280px !important;
            margin-top: 100px !important;
        }
    }
    .landingContactSection {
        img {
            width: 35px;
        }
        a {
            font-size: 20px;
        }
    }
    .scrollDown {
        display: none !important;
    }
   
}

@media screen and (max-width: 850px) {
    .vectorContainer{
        top: 520px !important;
       
        img {
            height: 95%;
        }
    }
    
    .landingContactSection {
        span {
            font-size: 20px !important;
        }
    }
}

@media screen and (max-width: 750px) {
    .vectorContainer{
        top: 520px !important;
    }
    .landingContactSection{
        margin-top: 0px;
    }
    .myTextContainer{
        margin-top: 120px;
    }
    .scrollDown {
        display: none;
    }
    .landingSocialContent {
        margin-top: -10px !important;
    
    }
}

@media screen and (max-width: 670px) {
    .vectorContainer{
        top: 530px !important;
    }
   
}

@media screen and (max-width: 600px) {
    .vectorContainer{
        top: 540px !important;
    }
  
    .myTextContainer {
        p {
            font-size: 32px;
            width: 112px;
        }
        .iAmDE {
            font-size: 21px;
            width: 107px;
            margin-right: -7vw;
        }
        .myText {
            span {
                font-size: 40px !important;
            }
            h2 {
                font-size: 32px !important;
            }
            .lets-talk-button {
                font-size: 24px !important;
                margin-left: 60px !important;
            }
        }
    }
    .leftLine {
        display: none;
    }
    .rightLine {
        display: none;
    }
    .landingContactSection {
        margin-top: 20px !important;
        justify-content: center;
        gap: 40px;
        img {
            width: 32px !important;
            margin-right: 6px !important;
            margin-left: 6px !important;
        }
        span {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .vectorContainer {
        top: 440px !important;
        }
    .landingContactSection {
        justify-content: center !important;
        gap: 20px;
        .leftLine {
            width: 22vw;
            margin-left: -28.5vw;
        }
        img {
            width: 35px;
            margin-right: 20px;
            margin-left: 20px;
        }
        a {
            display: none;
        }
        .innerDiv {
            margin-bottom: -10px;
        }    
    }
    .content {
        margin-top: -130px !important;
        .myImg{
            margin-top: 100px;
            margin-bottom: 50px;
            img:nth-of-type(1) {
                width: 350px !important;
                margin-bottom: -100px !important;
            }
            img:nth-of-type(2) {
                width: 220px !important;
                margin-top: 100px !important;
            }
        
        }
    }
    
    .myTextContainer {
        margin-top: 90px;
        
        .iAmDE {
            font-size: 16px;
            width: 90px;
        }
        p {
            font-size: 26px;
            width: 96px;
            margin-right: -34px;
        }
        .myText {
            span {
                font-size: 35px !important;
                line-height: 35px  !important;
            }
            h2 {
                font-size: 28px !important;
                line-height: 25px !important;
            }
            .lets-talk-button{
                margin-left: 40px !important;
                font-size: 22px !important;
            }
        }
        
    }
    
}

@media screen and (max-width: 420px) {

    .vectorContainer {
        top: 410px !important;
        height: 25% !important;
        img {
            width: 120vw;
            transform: rotate(7deg);
        }
    }
    .myTextContainer {
        margin-top: 55px !important;
        margin-left: -55px !important;
        .iAmDE {
            margin-right: -40px;
            width: 101px;
        }
        p {
            font-size: 25px;
            width: 103px;
            margin-right: -39px;
        }
        .myText {
            .myName {
                font-size: 28px !important;
            }
            h2 {
                margin-top: 3px;
                font-size: 24px !important;
            }
            .lets-talk-button {
                font-size: 20px !important;
                margin-left: 4px !important;
                margin-top: 10px !important;
            }
        }
    }
    .content {
        margin-top: 105px !important;
        .myImg {
            img:nth-of-type(1) {
                width: 335px !important;
                height: auto;
                margin-bottom: -110px !important;
            }
            img:nth-of-type(2) {
                width: 190px !important;
            }
       }
    }
    .landingContactSection {
        margin-left: -15px;
    }
   
}

@media (max-width: 370px){
    .myTextContainer{
        p {
            font-size: 24px;
            width: 101px;
        }
        .iAmDE {
            font-size: 16px !important;
            width: 101px;
        }
        .myText {
            .myName {
                font-size: 26px !important;
            }
            h2 {
                margin-top: 3px;
                font-size: 22px !important;
            }
            .lets-talk-button {
                font-size: 16px;
                margin-left: 17px !important;
                margin-top: 10px;
                width: 200px;
            }
        }
    }
    .content {
        margin-top: 105px !important;
        .myImg {
            img:nth-of-type(1) {
                width: 335px !important;
                margin-bottom: -110px !important;
            }
       }
    }
}

@media screen and (max-width: 350px) {

    .vectorContainer {
        top: 385px !important;
    }
    .myTextContainer {
      
        .myText {
            .myName {
                font-size: 26px !important;
            }
            h2 {
                margin-top: 3px;
                font-size: 20px;
            }
            .lets-talk-button {
                font-size: 18px !important;
                margin-left: 28px !important;
                margin-top: 10px;
                width: 180px;
            }
        }
    }
    .landingContactSection {
        span{
            font-size: 18px !important;
        }
    }
    .content {
        margin-top: 105px !important;
        .myImg {
            img:nth-of-type(1) {
                width: 320px !important;
                margin-bottom: -110px !important;
            }
            img:nth-of-type(2) {
                width: 180px !important;
            }
       }
    }
}

