.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyContainer {
  width: 100vw;
  height: 100vh;
  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .innerContent {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1440px;
      .content {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        max-width: 1440px;
        overflow: visible;
        left: 0;
        .myImg {
          width: 38%;
          z-index: 1;
          img:nth-of-type(1) {
            width: 850px;
            height: auto;
            position: relative;
          }
          img:nth-of-type(2) {
            width: 600px;
            height: auto;
            position: absolute;
          }
        }
      }
    }
  }

  .landingSocialContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    bottom: 7vh;
    .leftLine {
      height: 3px;
      background-color: #9747ff;
      flex-grow: 1;
      border-radius: 4px;
      min-width: 100px;
      margin-right: 16px;
    }
    .rightLine {
      flex-grow: 1;
    }
    .landingContactSection {
      display: flex;
      align-items: center;
      margin-top: 0px;
      width: 100%;
      max-width: 1400px;
      img {
        position: relative;
        z-index: 5;
        margin-right: 16px;
        transition: transform 0.5s ease-in-out;
        width: 30px;
        height: auto;
        cursor: pointer;
        &:hover {
          animation: rotateIn 0.5s ease-in-out;
          transform: rotate(360deg);
        }
        &:mouseleave {
          animation: rotateOut 0.5s ease-in-out;
          transform: rotate(0deg);
        }
      }
      span {
        position: relative;
        z-index: 5;
        text-decoration: none;
        color: white;
        font-size: 28px;
        font-weight: 200;
        margin-left: 10px;
        &:hover {
          color: #70e61c;
        }
      }
    }
  }

  @keyframes rotateIn {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateOut {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .vectorContainer {
    width: 100vw;
    height: 31%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    img {
      width: 107vw;
      height: 80%;
      object-fit: fill;
    }
  }

  .scroll {
    width: 100%;
    display: flex;
    justify-content: center;
    .scrollInner {
      position: absolute;
      max-width: 1440px;
      width: 100%;
      height: 15%;
      bottom: 0;
      z-index: 7;
      display: flex;
      justify-content: flex-end;
      .scrollDown {
        margin-right: 10px;
        width: 23px;
        height: 140px;
        color: #70e61c;
        z-index: 7;
        animation: moveUpDown 2s infinite;
      }
    }
  }
}

.myTextContainer {
  z-index: 3;
  margin-left: -33px;
  p {
    transform: rotate(-90deg);
    font-size: 52px;
    width: 124px;
    margin-right: -35px;
    margin-top: -98px;
  }
  .iAmDE {
    transform: rotate(-90deg);
    font-size: 34px;
    width: 122px;
    margin-right: -39px;
    margin-top: -98px;
  }
  .myText {
    .myName {
      font-size: 78px;
      line-height: 70px;
      font-weight: 700;
      margin: 0;
    }
    h2 {
      font-size: 58px;
      line-height: 48px;
      font-weight: 400;
      color: #9747ff;
      margin: 0;
    }
  }
}

.lets-talk-button {
  background-color: #70e61c;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 28px;
  margin-top: 40px;
  margin-left: 30%;
  z-index: 3;
  border-style: none;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 2200px) {
  .content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: visible;
    left: 0;
    .myImg {
      width: 38%;
      z-index: 1;
      img:nth-of-type(1) {
        width: 700px !important;
        height: auto;
        position: relative;
      }
      img:nth-of-type(2) {
        width: 550px !important;
        height: auto;
        position: absolute;
      }
    }
    .myTextContainer {
      p {
        font-size: 48px;
        width: 125px;
      }
      .iAmDE {
        font-size: 31px;
        width: 122px;
      }
      .myText {
        .myName {
          font-size: 72px;
          line-height: 66px;
        }
        h2 {
          font-size: 53px;
          line-height: 44px;
        }
        .lets-talk-button {
          margin-top: 30px;
        }
      }
    }
  }
  .vectorContainer {
    height: 38% !important;
  }
}

@media screen and (max-width: 1600px) {
  .myTextContainer {
    p {
      font-size: 46px !important;
      width: 120px !important;
    }
    .iAmDE {
      font-size: 31px !important;
    }
    .myText {
      .myName {
        font-size: 70px !important;
        line-height: 66px !important;
      }
      h2 {
        font-size: 48px !important;
        line-height: 44px !important;
      }
      .lets-talk-button {
        margin-top: 30px !important;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .content {
    flex-direction: column;
    .myImg {
      width: 38%;
      z-index: 1;
      img:nth-of-type(1) {
        width: 700px !important;
        height: auto;
        position: relative;
      }
      img:nth-of-type(2) {
        width: 500px !important;
        height: auto;
        position: absolute;
      }
    }
  }
  .vectorContainer {
    height: 47% !important;
    .vector {
      height: 70% !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .landingContactSection {
    span {
      font-size: 24px !important;
    }
  }
}

@media screen and (max-width: 1100px) {
  .myTextContainer {
    z-index: 3;
    p {
      transform: rotate(-90deg);
      font-size: 42px !important;
      width: 110px !important;
      margin-right: -35px;
      margin-top: -98px;
    }
    .iAmDE {
      transform: rotate(-90deg);
      font-size: 28px !important;
      width: 109px !important;
      margin-right: -39px;
      margin-top: -98px;
    }
    .myText {
      .myName {
        font-size: 64px !important;
        line-height: 60px !important;
        margin: 0;
      }
      h2 {
        font-size: 44px !important;
        line-height: 42px !important;
        color: #9747ff;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .myTextContainer {
    margin-left: -43px;
    p {
      font-size: 40px !important;
      width: 112px !important;
    }
    .iAmDE {
      font-size: 26px !important;
      width: 111px !important;
    }
    .myText {
      .myName {
        font-size: 50px !important;
      }
      h2 {
        margin-top: 0px;
        font-size: 38px !important;
      }
      .lets-talk-button {
        width: 240px;
        font-size: 24px;
        margin-left: 70px;
        margin-top: 10px;
      }
    }
  }
  .innerContent {
    overflow: hidden !important;
    .content {
      position: absolute;
      margin-top: 0px !important;
      .myImg {
        img:nth-of-type(1) {
          width: 700px !important;
          height: auto;
          position: relative;
        }
        img:nth-of-type(2) {
          width: 500px !important;
          height: auto;
          position: absolute;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .landingContactSection {
    span {
      font-size: 20px !important;
    }
  }
}

@media screen and (max-width: 770px) {
  .scroll {
    display: none !important;
  }
  .vectorContainer {
    height: 48% !important;
    .vector {
      height: 50% !important;
    }
  }
  .landingSocialContent {
    margin-top: -10px !important;
    bottom: 12vh !important;
    .leftLine {
      display: none;
    }
    .rightLine {
      display: none;
    }
    .landingContactSection {
      justify-content: center !important;
      gap: 40px;
      span {
        display: none;
      }
    }
  }
  .lets-talk-button {
    font-size: 24px !important;
    margin-left: 103px !important;
  }
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 600px !important;
        }
        img:nth-of-type(2) {
          width: 400px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .myTextContainer {
    p {
      font-size: 32px !important;
      width: 85px !important;
      margin-right: -26px !important;
    }
    .iAmDE {
      font-size: 21px !important;
      width: 85px !important;
      margin-right: -5vw !important;
    }
    .myText {
      .myName {
        font-size: 40px !important;
        line-height: 39px !important;
      }
      h2 {
        font-size: 32px !important;
      }
    }
  }
  .lets-talk-button {
    font-size: 24px !important;
    margin-left: 65px !important;
  }
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 500px !important;
        }
        img:nth-of-type(2) {
          width: 350px !important;
        }
      }
    }
  }
  .vectorContainer {
    height: 49% !important;
    .vector {
      height: 50% !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .landingContactSection {
    justify-content: center !important;
    gap: 20px;
    .leftLine {
      width: 22vw;
      margin-left: -28.5vw;
    }
    img {
      width: 35px;
      margin-right: 20px;
      margin-left: 20px;
    }
    a {
      display: none;
    }
    .innerDiv {
      margin-bottom: -10px;
    }
  }
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 430px !important;
          margin-bottom: -100px !important;
        }
        img:nth-of-type(2) {
          width: 300px !important;
          margin-top: 100px !important;
        }
      }
    }
  }
  .myTextContainer {
    margin-top: 90px;
    .iAmDE {
      font-size: 17px !important;
      width: 80px !important;
      margin-right: -6vw !important;
    }
    p {
      font-size: 26px !important;
      width: 83px !important;
      margin-right: -30px !important;
    }
    .myText {
      .myName {
        font-size: 35px !important;
        line-height: 35px !important;
      }
      h2 {
        font-size: 28px !important;
        line-height: 25px !important;
      }
      .lets-talk-button {
        margin-left: 40px !important;
        font-size: 22px !important;
      }
    }
  }
  .landingSocialContent {
    bottom: 5vh !important;
    .landingContactSection {
      gap: 20px !important;
      margin-right: 26px;
    }
  }
  .vectorContainer {
    height: 51% !important;
    .vector {
      height: 50% !important;
    }
  }
}

@media screen and (max-width: 430px) {
  .vectorContainer {
    img {
      width: 120vw;
      transform: rotate(7deg);
    }
  }
  .myTextContainer {
    margin-top: 55px !important;
    .iAmDE {
      margin-right: -41px !important;
      width: 103px !important;
    }
    p {
      font-size: 25px !important;
      width: 103px !important;
      margin-right: -39px;
    }
    .myText {
      .myName {
        font-size: 28px !important;
      }
      h2 {
        margin-top: 3px;
        font-size: 24px !important;
      }
      .lets-talk-button {
        font-size: 20px !important;
        margin-left: 4px !important;
        margin-top: 10px !important;
      }
    }
  }
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 400px !important;
          height: auto;
          margin-bottom: -110px !important;
        }
        img:nth-of-type(2) {
          width: 250px !important;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .innerContent {
    .content {
      .myTextContainer {
        p {
          font-size: 24px;
          width: 101px;
        }
        .iAmDE {
          font-size: 16px !important;
          width: 101px;
        }
        .myText {
          .myName {
            font-size: 26px !important;
          }
          h2 {
            margin-top: 3px;
            font-size: 22px !important;
          }
          .lets-talk-button {
            font-size: 16px;
            margin-left: 17px !important;
            margin-top: 10px;
            width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .myTextContainer {
    margin-top: 75px !important;
    .myText {
      .myName {
        font-size: 26px !important;
      }
      h2 {
        margin-top: 3px;
        font-size: 20px;
      }
      .lets-talk-button {
        font-size: 18px !important;
        margin-left: 28px !important;
        margin-top: 10px;
        width: 180px;
      }
    }
  }
  .landingContactSection {
    span {
      font-size: 18px !important;
    }
  }
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 320px !important;
          margin-bottom: -110px !important;
        }
        img:nth-of-type(2) {
          width: 230px !important;
        }
      }
    }
  }
  .vectorContainer {
    height: 54% !important;
    .vector {
      height: 50% !important;
    }
  }
}

@media (max-width: 430px) and (min-height: 700px) {
  .vectorContainer {
    height: 50% !important;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) and (min-height: 800px) and (max-height: 860px) {
  .vectorContainer {
    height: 22% !important;
  }
}

@media (max-height: 900px) {
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 500px !important;
          margin-bottom: 0px !important;
        }
        img:nth-of-type(2) {
          width: 450px !important;
        }
      }
    }
  }
}

@media (max-height: 830px) {
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 450px !important;
          margin-bottom: 35px !important;
        }
        img:nth-of-type(2) {
          width: 400px !important;
        }
      }
    }
  }
}

@media (max-height: 800px) {
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 400px !important;
          margin-bottom: 35px !important;
        }
        img:nth-of-type(2) {
          width: 350px !important;
        }
      }
    }
  }
}

@media (max-width: 420px) and (max-height: 800px) {
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 350px !important;
          margin-bottom: 35px !important;
        }
        img:nth-of-type(2) {
          width: 280px !important;
        }
      }
    }
  }
  .vectorContainer {
    height: 37% !important;
    .vector {
      height: 50% !important;
    }
  }
}

@media (max-width: 420px) and (max-height: 900px) {
  .innerContent {
    .content {
      .myImg {
        img:nth-of-type(1) {
          width: 350px !important;
          margin-bottom: 35px !important;
        }
        img:nth-of-type(2) {
          width: 280px !important;
        }
      }
    }
  }
  .vectorContainer {
    height: 43% !important;
    .vector {
      height: 50% !important;
    }
  }
}
