*{
  scroll-behavior: smooth;
}

/* poppins-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/poppins-v21-latin-200.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/poppins-v21-latin-regular.woff2');
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
}

body {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  background-color: #141D2F;
  // scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #70e61c !important; 
  border-radius: 10px;
  border: 3px solid #141d2f;
}

::-webkit-scrollbar-thumb:hover {
  background: #5db814;
}

#notification-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
}

.notification {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInOut 5s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenRight {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hiddenUpDown {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 1s ease-out;
}

@keyframes bounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.showUpDown {
  opacity: 1;
  animation: bounceUpDown 0.5s ease-in-out 0.4s;
}
