.mainContainer {
    position: relative;
    width: 100%;
    padding-top: 70px;
    .portfolioHeadline {
        display: flex;
        justify-content: center;
        align-items: center;
        .line {
            flex-grow: 1;
        }
        .leftLine{
            width: 110px;
            height: 3px;
            background-color: #9747FF;
            border-radius: 5px;
        }
        h1 {
            font-size: 96px;
            margin: 0 2vw;
        }
        .rightLine{
            flex-grow: 1;
            height: 3px;
            background-color: #9747FF;
            border-radius: 5px;
        }
    }
    
}
.projectContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .innerProjectContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1400px;
        .project{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin-left: 40px;
            margin-right: 40px;
            gap: 40px;
            img {
                width: 500px;
                height: auto;
                &:nth-child(1){
                    margin-left: 100px;
                }
                &:nth-child(2){
                    margin-right: 100px;
                }
            }
            
            .textContent{
                width: 60%;
                margin-left: 40px;
                margin-right: 40px;
                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    color:#9747FF;
                    margin: 0;
                }
                h3 {
                    font-size: 38px;
                    font-weight: 200;
                    color: #70E61C;
                    margin: 1vw 0;
                }
                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    margin-top: 16px;
                    .liveTest {
                        background-color: #9747FF;
                        color: whitesmoke;
                        padding: 8px 20px;
                        border-radius: 5px;
                        font-size: 24px;
                        font-weight: 400;
                        text-decoration: none;
                        transition: 0.3s;
                        border-style: none;
                        cursor: pointer;
                        &:hover {
                            background-color: #70E61C ;
                        }
                    }
                    .sourceCode {
                        border: 1.5px solid #70E61C;
                        background-color: transparent;
                        color: whitesmoke;
                        padding: 8px 20px;
                        border-radius: 5px;
                        font-size: 24px;
                        font-weight: 400;
                        text-decoration: none;
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover {
                            background-color: #70E61C;
                        }
                    }
                }
            }
            
        }
    }
}   

.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}

.buttonLeft {
    justify-content: flex-start;
}

.buttonRight {
    justify-content: flex-end;
}

.rightBlur {
    position: absolute;
    left: 0;
    width: 600px;
    z-index: -1;
    opacity: 0.8;
}

@media (max-width: 1600px){
    .textContent {
        h2 {
            font-size: 40px !important;
        }
        h3 {
            font-size: 32px !important;
        }
    }
}

@media (max-width: 1300px){
    .textContent {
        h2 {
            font-size: 36px !important;
        }
        h3 {
            font-size: 28px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .portfolioHeadline {
        margin-right: -120px !important;
        h1 {
            font-size: 80px !important;
        }
        .rightLine {
            width: 27vw !important;
        }
    }
    .joinContent {
        flex-direction: column;
        gap: 0 !important;
        img {
            margin-left: 0 !important;
            margin-bottom: -6vw !important;
            width: 50vw !important;
        }

    }
    .elPollo {
        flex-direction: column-reverse;
        gap: 0 !important;
        img {
            margin-right: 0 !important;
            margin-bottom: -6vw !important;
            margin-top: 5vw !important;
            width: 50vw !important;
        }
    }
    .textContent {
        text-align: center;
        width: 70vw !important;
        h2 {
            font-size: 40px !important;
        }
        h3 {
            font-size: 32px !important;
        }
    }
    .buttons {
        justify-content: center;
        margin-top: 2vw !important;
        
    }
    .liveTest, .sourceCode {
        font-size: 3.5vw !important;
        padding: 0.5vw 1.2vw !important;
    }
    .rightBlur {
        width: 500px !important;
    }
}

@media screen and (max-width: 700px) {
    .liveTest, .sourceCode {
        font-size: 5vw !important;
        padding: 0.5vw 1.2vw !important;
    }
    .portfolioHeadline {
        margin-right: -32px !important;
        h1 {
            font-size: 60px !important;
        }
        .rightLine {
            width: 20vw !important;
        }
    }
    .rightBlur {
        width: 400px !important;
    }
}

@media (max-width: 500px){
    .portfolioHeadline {
        margin-right: -5px !important;
        .leftLine {
            width: 70px !important;
        }
        h1 {
            font-size: 55px !important;
        }
        .rightLine {
            width: 15vw !important;
        }
    }
    .projectContainer{
        .innerProjectContainer{
            .project {
                .textContent {
                    h3 {
                        font-size: 24px !important;
                    }
                }
            }
        }
    }
    .rightBlur {
        width: 300px !important;
    }
}

@media (max-width: 400px){
    .portfolioHeadline {
        margin-right: 5px !important;
        h1 {
            font-size: 45px !important;
        }
        .rightLine {
            width: 10vw !important;
        }
        .leftLine {
            width: 40px !important;
        }
    }
    .projectContainer{
        .innerProjectContainer{
            .project {
                margin-left: 0 !important;
                margin-right: 0 !important;
                .textContent {
                    h3 {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
    .liveTest{
        padding: 7px !important;
    }
    .sourceCode{
        padding: 7px !important;
    }
    .rightBlur {
        width: 250px !important;
    }
}