<div class="mainContainer">
    <div class="portfolioHeadline">
        <div class="leftLine"></div>
        <h1>Portfolio</h1>
        <div class="rightLine"></div>
    </div>

    <div class="joinContent project">
        <img src="assets/images/join.png" alt="">
        <div class="joinTextArea textContent textLeft">
            <h2>join</h2>
            <h3>Angular | Typescript | HTML | CSS | Firebase</h3>
            <span>Aufgabenmanager nach dem Vorbild des Kanban-Systems. Erstellen und organisieren Sie Aufgaben mit
                Hilfe
                von Drag-and-Drop-Funktionen, weisen Sie Benutzer und Kategorien zu. </span>
            <div class="buttons buttonLeft">
                <button class="liveTest">Live test</button>
                <button class="sourceCode">Github</button>
            </div>
        </div>
    </div>

    <div class="elPollo project">
        <div class="elPolloArea textContent textRight">
            <h2>El Pollo loco</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>Ein einfaches Jump-and-Run-Spiel mit objektorientiertem Ansatz. Hilf Pepe, Münzen und Salsaflaschen zu
                finden, um gegen das Killerhuhn zu kämpfen.</span>
            <div class="buttons buttonRight">
                <button class="liveTest">Live test</button>
                <button class="sourceCode">Github</button>
            </div>
        </div>
        <img src="assets/images/elpollo.png" alt="">

    </div>

</div>