.mainContainer {
    position: relative;
    width: 100%;
    padding-top: 70px;
    .portfolioHeadline {
        display: flex;
        justify-content: end;
        align-items: center;
        .leftLine{
            width: 6vw;
            height: 0.25vw;
            background-color: #9747FF;
            border-radius: 5px;
        }
        h1 {
            font-size: 96px;
            margin: 0 2vw;
        }
        .rightLine{
            width: 40vw;
            height: 0.25vw;
            background-color: #9747FF;
            border-radius: 5px;
        }
    }
    .project{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        gap: 5vw;
        img {
            width: 30vw;
            height: auto;
            &:nth-child(1){
                margin-left: 10vw;
            }
            &:nth-child(2){
                margin-right: 10vw;
            }
        }
       
        .textContent{
            width: 45vw;
            margin-left: 5vw;
            margin-right: 5vw;
            h2 {
                font-size: 48px;
                font-weight: 700;
                color:#9747FF;
                margin: 0;
            }
            h3 {
                font-size: 38px;
                font-weight: 200;
                color: #70E61C;
                margin: 1vw 0;
            }
            .buttons {
                display: flex;
                align-items: center;
                gap: 5vw;
                margin-top: 1vw;
                .liveTest {
                    background-color: #9747FF;
                    color: whitesmoke;
                    padding: 0.5vw 1.2vw;
                    border-radius: 5px;
                    font-size: 1.9vw;
                    font-weight: 400;
                    text-decoration: none;
                    transition: 0.3s;
                    border-style: none;
                    cursor: pointer;
                    &:hover {
                        background-color: #70E61C ;
                    }
                }
                .sourceCode {
                    border: 1.5px solid #70E61C;
                    background-color: transparent;
                    color: whitesmoke;
                    padding: 0.5vw 1.2vw;
                    border-radius: 5px;
                    font-size: 1.9vw;
                    font-weight: 400;
                    text-decoration: none;
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover {
                        background-color: #70E61C;
                    }
                }
            }
        }
        
    }
}

.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}

.buttonLeft {
    justify-content: flex-start;
}

.buttonRight {
    justify-content: flex-end;
}

.rightBlur {
    position: absolute;
    top: 400px;
    right: 0;
    width: 45vw;
    transform: rotate(180deg);
    z-index: -1;
}

@media (max-width: 1600px){
    .textContent {
        h2 {
            font-size: 40px !important;
        }
        h3 {
            font-size: 32px !important;
        }
    }
}

@media (max-width: 1300px){
    .textContent {
        h2 {
            font-size: 36px !important;
        }
        h3 {
            font-size: 28px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .portfolioHeadline {
        h1 {
            font-size: 80px !important;
        }
        .rightLine {
            width: 27vw !important;
        }
    }
    .joinContent {
        flex-direction: column;
        gap: 0 !important;
        img {
            margin-left: 0 !important;
            margin-bottom: -6vw !important;
            width: 50vw !important;
        }

    }
    .elPollo {
        flex-direction: column-reverse;
        gap: 0 !important;
        img {
            margin-right: 0 !important;
            margin-bottom: -6vw !important;
            margin-top: 5vw !important;
            width: 50vw !important;
        }
    }
    .textContent {
        text-align: center;
        width: 70vw !important;
        h2 {
            font-size: 40px !important;
        }
        h3 {
            font-size: 32px !important;
        }
    }
    .buttons {
        justify-content: center;
        margin-top: 2vw !important;
        
    }
    .liveTest, .sourceCode {
        font-size: 3.5vw !important;
        padding: 0.5vw 1.2vw !important;
    }
}

@media screen and (max-width: 700px) {
    .liveTest, .sourceCode {
        font-size: 5vw !important;
        padding: 0.5vw 1.2vw !important;
    }
    .portfolioHeadline {
        h1 {
            font-size: 60px !important;
        }
        .rightLine {
            width: 20vw !important;
        }
    }
}

@media (max-width: 500px){
    .portfolioHeadline {
        h1 {
            font-size: 55px !important;
        }
        .rightLine {
            width: 15vw !important;
        }
    }
   
}

@media (max-width: 400px){
    .portfolioHeadline {
        h1 {
            font-size: 50px !important;
        }
        .rightLine {
            width: 10vw !important;
        }
    }
    .textContent {
        h2 {
            font-size: 34px !important;
        }
        h3 {
            font-size: 20px !important;
        }
    }
    .liveTest{
        padding: 7px !important;
    }
    .sourceCode{
        padding: 7px !important;
    }
    
}