.mainContainer {
    position: relative;
    z-index: 6 ;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 85px;
    overflow: hidden;
    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2vw;
        width: 70vw;
        margin-left: 4vw;
        .skill {
            width: 7vw;
            height: auto;
            margin-right: 7vw;
            margin-top: 3vw;
            &:hover {
            animation: wobble 1s infinite;
            }
        }
        .blur {
            position: absolute;
            z-index: -2;
            width: 240px;
            height: auto;
            left: 0px;
            top: 8vw;
            // margin-bottom: -200px
        }
    }
    .textContainer {
        position: relative;
        width: 40vw;
        margin-right: 5vw;
        margin-top: 2vw;
       z-index: 6;
        .textContent {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                h1 {
                    font-size: 4.5vw;
                    margin-bottom: 1.5vw;
                    }
                .rightLine {
                    position: relative;
                    z-index: 6;
                    width: 9vw;
                    height: 0.3vw;
                    background-color: #9747FF;
                    right: -19vw;
                    top: -5vw;
                    border-radius: 5px;
                }
                span {
                    text-align: center;
                    font-size: 1.3vw;
                }
                .kontakt-button {
                    background-color: #70E61C;
                    color: whitesmoke;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-size: 1.9vw;
                    margin-top: 1vw;
                    z-index: 3;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        transition: 0.5s;
                        transform: scale(1.1);
                    }
                }
            }   
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 1000px) {
    .mainContainer {
      flex-direction: row;
        padding-top: 40px;
        padding-bottom: 120px;
    }
    .textContent {
        width: 60vw;
        margin-left: -8vw;
        h1 {
            font-size: 48px !important;
        }
        span {
            font-size: 16px !important;
            margin-bottom: 1vw;
        }
    }
    .kontakt-button {
        margin-top: 25vw !important;
        font-size: 24px !important;
    }
    .imageContainer {
        margin-top: 10vw !important;
        position: absolute;
    }
    .blur{
        left: -190px !important;
        top: -125px !important;
    }
    .rightLine {
        display: none;
    }
    
  }
  
@media (max-width: 850px) {
    .blur {
        top: -150px !important;
    }
}

@media (max-width: 800px) {
   
      .imageContainer {
        margin-top: 15vw !important;
      }
      .blur {
        top: -80px !important;
        left: -150px !important;
        width: 200px !important;
      }
}



@media (max-width: 600px) {
  
    .textContent {
        span {
            font-size: 14px !important;
            margin-bottom: 1vw;
        }
    }
    .imageContainer {
        margin-top: 20vw !important;
        margin-bottom: 25px !important;
    }
    .kontakt-button {
        font-size: 20px !important;
    }
}


@media (max-width: 500px) {
    
    .textContent {
        h1 {
            font-size: 40px !important;
        }
        width: 80vw;
        margin-left: -19vw;
    }
    .imageContainer {
        margin-top: 28vw !important;
        width:72vw !important;
        .skill{
            width: 11vw !important;
        }
        .blur {
            top: -40px !important;
            left: -150px !important;
            width: 180px !important;
          }
    }
    
    .kontakt-button {
        margin-top: 50vw !important;
        font-size: 20px !important;
    }
  
}

@media (max-width: 380px) {
    .imageContainer {
        margin-top: 35vw !important;
        .blur {
            top: -70px !important;
            left: -110px !important;
            width: 180px !important;
          }
    }
    .skill{
        width: 10vw !important;
    }
   
}

