<div class="mainContainer">
    <div class="imageContainer">
        <img src="assets/images/angular.png" alt="" class="skill">
        <img src="assets/images/typescript.png" alt="" class="skill">
        <img src="assets/images/javascript.png" alt="" class="skill">
        <img src="assets/images/html.png" alt="" class="skill">
        <img src="assets/images/firebase.png" alt="" class="skill">
        <img src="assets/images/git.png" alt="" class="skill">
        <img src="assets/images/css.png" alt="" class="skill">
        <img src="assets/images/rest-api.png" alt="" class="skill">
        <img src="assets/images/scrum.png" alt="" class="skill">
        <img src="assets/images/material.png" alt="" class="skill">
        <img src="assets/images/greenblur2.png" alt="" class="blur">
    </div>
    <div class="textContainer">
        <div class="textContent">
            <h1>Meine Skills</h1>
            <div class="rightLine"></div>
            <span>Ich habe Erfahrung darin, Projekte im Frontend-Bereich zu erstellen und umzusetzen.</span><br>
            <button class="kontakt-button"> Kontakt aufnehmen </button>
        </div>
    </div>
</div>